

body{
background-color: rgb(87, 83, 78);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 2vw;
}
.site{
 display: grid;
 grid-template-columns: auto auto auto;
 padding: 1vw;
 grid-gap: 1vw;
}
.grid-item{
background-color: blueviolet;
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;

text-align: center;
border-radius: 5px;
}
.header{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-column: 1/4;
text-align: center;
border: 1px solid rgba(0, 0, 0, 0.8);
background-color: red;
border-radius: 5px;
width: 100%;
}
.footer{
 grid-column: 1/4;
 text-align: center;
 border: 1px solid rgba(0, 0, 0, 0.8);
 background-color: red;
 border-radius: 5px;
}
