/* CSS-RESET START*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS-RESET END*/


body{
background-color: rgb(255, 255, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.invisible-header{
	grid-row: 1;
	grid-column: 1/2;
	height: 60px;
}
a:link{
	text-decoration: none;
}

/*Main om oss - START*/
	.invisible-row-omoss{
		grid-row: 1;
		grid-column: 1/4;
		height: 20px;
	}
	.main-area-omoss{
		display: grid;
		grid-template-columns: 1fr;
	}
	.omoss-heading{
		font-size: 3em;
		text-align: center;
	}
	.omoss-main-text{
		font-size: 1em;
		padding: 0.5em 3em;
		text-align: left;
	}
	.logo-omoss{
		display: block;
  margin-left: auto;
  margin-right: auto;
		width: 150px;
		padding: 5%;
	}
/*Main om oss - END*/

/*Main kontakt - START*/
.invisible-row-kontakt{
	grid-row: 1;
	grid-column: 1/4;
	height: 20px;
}
.heading-kontakt{
	text-align: center;
	font-size: 2em;
	padding: 2%;
}
.main-area-kontakt{
	display: grid;
	grid-template-columns: 1fr;
	margin: 0px 15px 15px 15px;
}
.shoppa-knapp{
	position: relative;
	width: 100%;
}
.shoppa-knapp .btn{
	position: absolute;
	top: 120%;
	margin-left: auto;
	margin-right: auto;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border: 1.5px solid black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-size: 16px;
	padding: 12px 24px;
	margin: 10px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
}
.shoppa-knapp .btn:hover{
	background-color: black;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px; 
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type=submit] {
	background-color: rgb(202, 14, 14);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #45a049;
}
/*Main kontakt - END*/

/*Main varukorg - START*/
.invisible-row-varukorg{
	grid-row: 1;
	grid-column: 1/4;
	height: 10px;
}
.main-area-varukorg{
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	margin: 2%;
}
.heading-varukorg{
	font-size: 2em;
	padding: 2%;
}
.föremål-grid{
	display: grid;
	grid-template-columns: 1fr 5fr 5fr;
}
.föremål-bild{
	width: 40%;
	float: left;
	border-radius: 2px;
	border: 2px solid rgb(0, 0, 0);
}
.föremål-text{
	margin: auto;
	padding-right: 15%;
}
.föremål1{
	grid-row: 2;
	margin: 1%;
	padding: 1%;
	border-radius: 5px;
	border: 2px solid black;
	background-color: rgb(172, 169, 169);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.föremål2{
	grid-row: 3;
	margin: 1%;
	padding: 1%;
	border-radius: 5px;
	border: 2px solid black;
	background-color: rgb(172, 169, 169);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.föremål3{
	grid-row: 4;
	margin: 1%;
	padding: 1%;
	border-radius: 5px;
	border: 2px solid black;
	background-color: rgb(172, 169, 169);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.betala-knapp{
	margin: 4% auto 4% auto;
	grid-row: 5;
	width: 100%;
}
.betala-knapp .btn3{
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border: 1.5px solid black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-size: 16px;
	padding: 12px 24px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
}
.betala-knapp .btn3:hover{
	background-color: black;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*Main varukorg - END*/

/* brett-fönster */
@media (min-width: 851px) {
	.brett-fönster{
		display: inline;
	}
	.mellan-fönster{
  display: none;
	}
	.smalt-fönster{
  display: none;
	}
	.navbar-mellan{
		display: none;
	}
	.topnav{
		display: none;
	}
	#mellan{
		display: none;
	}
	#smalt{
		display: none;
	}
	/*Huvudmeny - Start*/
	.navbar-brett{
		background-color: rgb(32, 32, 32);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
		font-size: 2vw;
	}
	.navbar-logo{
		padding: 5px;
		float: left;
	}
	.navbar-links a{
		float: right;
		display: block;
		color: white;
		text-align: center;
		padding: 20px;
		text-decoration: none;
	}
	.navbar-links a:hover{
		background-color: #ddd;
		color: black;
	}
	/*Huvudmeny - END*/

 /*Main startsida - START*/
	.site-index{
		display: grid;
		grid-template-columns: 1fr;
	}
	.main-area{
		grid-column: 1/2;
		grid-row: 2;
	}
	.main-img{
		width: 100%;
	}
	.main-heading{
		position: absolute;
		width: 100%;
		top: 28%;
		text-align: center;
		text-shadow: 2px 2px 5px rgb(187, 187, 187);
		font-size: 4vw;
	}
	.main-text{
		position: absolute;
		left: 30%;
		width: 40%;
		top: 36%;
		text-align: center;
		padding: 0.5%;
		background-color: rgba(77, 77, 77, 0.7);
		color: rgb(255, 255, 255);
		font-size: 1.25vw;
		border-radius: 5px;
	}
	.knapp1{
		position: relative;
		width: 100%;
	}
	.knapp1 .btn1{
		position: absolute;
		top: 58%;
		left: 40%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		border: 1.5px solid black;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		font-size: 16px;
		padding: 12px 24px;
		margin: 10px;
		cursor: pointer;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
	}
	.knapp1 .btn1:hover{
		background-color: black;
		color: white;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.knapp2{
		position: relative;
		width: 100%;
	}
	.knapp2 .btn2{
		position: absolute;
		top: 58%;
		left: 60%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		border: 1.5px solid black;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		font-size: 16px;
		padding: 12px 24px;
		margin: 10px;
		cursor: pointer;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
	}
	.knapp2 .btn2:hover{
		background-color: black;
		color: white;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	/*Main startsida - END*/

	/*Main handla - START*/
	.site-handla{
		display: grid;
		grid-template-columns: auto auto auto;
	}
	.invisible-row{
		grid-row: 1;
		grid-column: 1/4;
		height: 60px;
	}
	.main-area-handla{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.box-handla{
		background: black;
		color: white;
		border-radius: 5px;
		padding: 5%;
		transition: transform .2s;
		margin: 5% 2% 2% 2%;
	}
	.box-handla:hover{
		transform: scale(1.03);
	}
	.produkt-img{
		border-radius: 5px 5px 0px 0px;
		width: 100%;
	}
	.produkt-grid{
		display: grid;
		grid-template-columns: 1fr;
		padding: 5%;
	}
	.produkt1-brett{
		grid-row: 2;
		grid-column: 1;
		padding: 0px;
	}
	.produkt2-brett{
		grid-row: 2;
		grid-column: 2;
		padding: 0px;
	}
	.produkt3-brett{
		grid-row: 2;
		grid-column: 3;
		padding: 0px;
	}
	.produkt1-smalt{
		display: none;
	}
	.produkt2-smalt{
		display: none;
	}
	.produkt3-smalt{
		display: none;
	}
	.produkt-text1 {
		grid-column: 1;
		font-size: 2vw;
		text-align: center;
	}
	/*Main handla - END*/

	/*Main kontakt - START*/
	.container {
		border-radius: 5px;
		background-color: #d1d1d1;
		padding: 20px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		/*Main kontakt - END*/
	}
}

/* mellan-fönster */
@media (min-width: 601px) and (max-width: 850px) {
	.brett-fönster{
		display: none;
	}
	.mellan-fönster{
  display: inline;
	}
	.smalt-fönster{
		display: none;
	}
	.navbar-brett{
		display: none;
	}
	.topnav{
		display: none;
	}
	#brett{
		display: none;
	}
	#smalt{
		display: none;
	}
	/*Huvudmeny - Start*/
 .navbar-mellan{
	 background-color: rgb(32, 32, 32);
	 position: fixed;
	 top: 0;
	 width: 100%;
	 z-index: 999;
	 font-size: 2vw;
 }
	.navbar-logo{
		padding: 5px;
		float: left;
	}
	.navbar-links a{
		float: right;
		display: block;
		color: white;
		text-align: center;
		padding: 20px;
		text-decoration: none;
	}
	.navbar-links a:hover{
		background-color: #ddd;
		color: black;
	}
	/*Huvudmeny - END*/

	/*Main startsida - START*/
	.site-index{
		display: grid;
		grid-template-columns: 1fr;
	}
	.main-area{
		grid-column: 1/2;
		grid-row: 2;
	}
	.main-img{
		width: 100%;
	}
	.main-heading{
		position: absolute;
		width: 100%;
		top: 28%;
		text-align: center;
		text-shadow: 2px 2px 5px rgb(187, 187, 187);
		font-size: 6vw;
	}
	.main-text{
		position: absolute;
		left: 30%;
		width: 40%;
		top: 36%;
		text-align: center;
		padding: 0.5%;
		background-color: rgba(77, 77, 77, 0.7);
		color: rgb(255, 255, 255);
		font-size: 1.5vw;
		border-radius: 5px;
	}
	.knapp1{
		position: relative;
		width: 100%;
	}
	.knapp1 .btn1{
		position: absolute;
		top: 58%;
		left: 40%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		border: 1.5px solid black;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		font-size: 16px;
		padding: 12px 24px;
		margin: 10px;
		cursor: pointer;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
	}
	.knapp1 .btn1:hover{
		background-color: black;
		color: white;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.knapp2{
		position: relative;
		width: 100%;
	}
	.knapp2 .btn2{
		position: absolute;
		top: 58%;
		left: 60%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		border: 1.5px solid black;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		font-size: 16px;
		padding: 12px 24px;
		margin: 10px;
		cursor: pointer;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
	}
	.knapp2 .btn2:hover{
		background-color: black;
		color: white;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	/*Main startsida - END*/

	/*Main handla - START*/
	.site-handla{
		display: grid;
		grid-template-columns: auto auto;
	}
	.invisible-row{
		grid-row: 1;
		grid-column: 1/3;
		height: 60px;
	}
	.main-area-handla{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.box-handla{
		background: black;
		color: white;
		border-radius: 5px;
		padding: 5%;
		transition: transform .2s;
		margin: 5% 2% 2% 2%;
	}
	.box-handla:hover{
		transform: scale(1.03);
	}
	.produkt-img{
		border-radius: 5px 5px 0px 0px;
		width: 100%;
	}
	.produkt-grid{
		display: grid;
		grid-template-columns: 1fr;
		padding: 5%;
	}
	.produkt1-brett{
		grid-row: 2;
		grid-column: 1;
		padding: 0px;
	}
	.produkt2-brett{
		grid-row: 2;
		grid-column: 2;
		padding: 0px;
	}
	.produkt3-brett{
		grid-row: 3;
		grid-column: 1;
		padding: 0px;
	}
	.produkt1-smalt{
		display: none;
	}
	.produkt2-smalt{
		display: none;
	}
	.produkt3-smalt{
		display: none;
	}
	.produkt-text1 {
		grid-column: 1;
		font-size: 3vw;
		text-align: center;
	}
	/*Main handla - END*/

	/*Main kontakt - START*/
	.container {
		border-radius: 5px;
		background-color: #d1d1d1;
		padding: 20px;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	/*Main kontakt - END*/	
}

/* smalt-fönster */
@media (max-width: 600px) {
	.brett-fönster{
  display: none;
	}
	.mellan-fönster{
  display: none;
	}
	.smalt-fönster{
		display: inline;
	}
	.invisible-header{
		display: none;
	}
	.navbar-brett{
		display: none;
	}
	.navbar-mellan{
		display: none;
	}
	#brett{
		display: none;
	}
	#mellan{
		display: none;
	}
	/*Huvudmeny smaltfönster - START*/
 .topnav {
	 overflow: hidden;
	 background-color: rgb(105, 105, 105);
		position: relative;
	}
 .topnav #myLinks {
	 display: none;
 }
 .topnav a {
	 color: rgb(0, 0, 0);
	 padding: 14px 16px;
	 text-decoration: none;
	 font-size: 17px;
	 display: block;
  }
 .topnav a.icon {
		background: rgb(0, 0, 0);
		color: white;
	 display: block;
	 position: absolute;
	 right: 0;
		top: 0;
  }
 .topnav a:hover {
 	background-color: rgb(0, 0, 0);
	 color: rgb(255, 255, 255);
 }
 .active {
 	background-color: rgb(32, 32, 32);
	 color: white;
	}
	.topnav-links{
		border: 2px solid black;
		background-color: white;
		color: black;
		border-radius: 5px;
		width: 30%;
		text-align: center;
		margin: auto;
		margin-top: 2px;
	}
	/*Huvudmeny smaltfönster - END*/

	/*Main startsida - START*/
	.site-index{
		display: grid;
		grid-template-columns: 1fr;
	}
	.main-area{
		grid-column: 1/2;
		grid-row: 2;
	}
	.main-img{
		width: 100%;
	}
	.main-heading{
		position: absolute;
		top: 10%;
		width: 100%;
		text-align: center;
		text-shadow: 2px 2px 5px rgb(187, 187, 187);
		font-size: 7vw;
	}
	.main-text{
		position: absolute;
		top: 15%;
		left: 10%;
		width: 80%;
		text-align: center;
		padding: 0.5%;
		background-color: rgba(77, 77, 77, 0.7);
		color: rgb(255, 255, 255);
		font-size: 15px;
		border-radius: 5px;
	}
	.knapp1{
		position: relative;
		width: 100%;
	}
	.knapp1 .btn1{
		position: absolute;
		top: 50%;
		left: 30%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		border: 1.5px solid black;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		font-size: 14px;
		padding: 12px 24px;
		cursor: pointer;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
	}
	.knapp1 .btn1:hover{
		background-color: black;
		color: white;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.knapp2{
		position: relative;
		width: 100%;
	}
	.knapp2 .btn2{
		position: absolute;
		top: 50%;
		left: 70%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		border: 1.5px solid black;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		font-size: 14px;
		padding: 12px 24px;
		cursor: pointer;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
	}
	.knapp2 .btn2:hover{
		background-color: black;
		color: white;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	/* Main startsida - END*/

	/*Main handla - START*/
	.site-handla{
		display: grid;
		grid-template-columns: auto;
	}
	.invisible-row{
		grid-row: 1;
		grid-column: 1/2;
		height: 10px;
	}
	.main-area-handla{
		display: grid;
		grid-template-columns: 1fr;
	}
	.box-handla{
		background: black;
		color: white;
		border-radius: 5px;
		padding: 5%;
		transition: transform .2s;
		margin: 0% 2% 2% 2%;
	}
	.box-handla:hover{
		transform: scale(1.03);
	}
	.produkt-img{
		border-radius: 5px 5px 0px 0px;
		width: 100%;
	}
	.produkt-grid{
		display: grid;
		grid-template-columns: 1fr;
		padding: 5%;
	}
	.produkt1-brett{
		display: none;
	}
	.produkt2-brett{
		display: none;
	}
	.produkt3-brett{
		display: none;
	}
	.produkt1-smalt{
		display: inline;
		grid-row: 2;
		grid-column: 1;
		padding: 0px;
	}
	.produkt2-smalt{
		display: inline;
		grid-row: 3;
		grid-column: 1;
		padding: 0px;
	}
	.produkt3-smalt{
		display: inline;
		grid-row: 4;
		grid-column: 1;
		padding: 0px;
	}
	.produkt-text1{
		grid-column: 1;
		font-size: 4vw;
		text-align: center;
	}
	/*Main handla - END*/

	/*Main kontakt - START*/
	.container {
		border-radius: 5px;
		background-color: #d1d1d1;
		padding: 20px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	/*Main kontakt - END*/
}